body{
  background-color: #eee;
  font-family: 'Playfair Display', serif;
}

   .body1{
    /* background-image: url(https://i.pinimg.com/736x/99/48/50/994850b10ce5a98e99b60f0c44b73690.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
  .logo-card {
    width: 100%;
    height: 100%;
    margin: 0 auto 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
  }


  
  .logo {
    max-width: 5%;
    max-height: 5%;
  }
  
  .brand-text {
    font-family: 'Courgette';
    font-size: 100px;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
  }
  
  .password-toggle {
    position: relative;
  }
  
  .password-toggle .toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-toggle .toggle-icon i {
    font-size: 18px;
  }
  .card{
    background-color: #ffffffb6;
    border-radius: 10px;
    padding-top: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.60);
  }
  /* Estilos para el formulario */
  /* .form-container {
    max-width: 500px;
    position: center;
    margin-top: 5%;
    margin: 0auto;
    padding: 20px;
  } */

  /* Estilos para los botones */

  /* .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  } */
  /* .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  } */
  /* .display-flex{
    display: flex;
  } */
  /* .imagenlogo{
    width:100%;
    height:100%;
  } */
  
