Breadcrumbs
.breadcrumb {
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    color:#AFA5D9;
    font-weight: 600;
  }
  
  .breadcrumb a {
    color:#AFA5D9;
    transition: 0.3s;
  }
  
  .breadcrumb a:hover {
    color: rgb(83, 104, 114);
  }
  
  .breadcrumb .breadcrumb-item::before {
    color: #899bbd;
  }
  
  .breadcrumb .active {
    color: #000000;
    font-weight: 600;
  }
  .encabezado-negro {
    background-color:  #27272b;
    color: white; /* Cambia el color del texto si es necesario */
  }
  .switch-button {
    display: inline-block;
  }
  
  .switch-button__checkbox {
    display: none;
  }
  
  .switch-button__label {
    background-color: var(--color-red);
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
    display: inline-block;
    position: relative;
  }
  
  .switch-button__label:before {
    transition: 0.2s;
    display: block;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
  }
  
  /* Corrige el selector y elimina los espacios entre los selectores y los combina. */
  .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
  }
  
  /* Corrige el selector y elimina los espacios entre los selectores y los combina. */
  .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);
  }
  
  :root {
    --color-green: #00a878;
    --color-red: red;
    --color-button: #fdffff;
    --color-black: #000;
  }
  
  